<!-- The custom template for handling 500/400 errors adapted from https://codepen.io/xubiod/pen/LpoJLZ -->

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      @import url(https://fonts.googleapis.com/css?family=Cantarell:700);
      html {
        font-family: "Cantarell", sans-serif;
        color: white;
        background: #00802b;
      }

      div {
        font-size: 50px;
      }
    </style>
  </head>
  <body>
    <center>
      <svg width="145" height="200">
        <rect x="60" y="75" width="20" height="100" fill="#512920" />
        <circle cx="45" cy="75" r="40" fill="#073f11" />
        <circle cx="95" cy="75" r="40" fill="#0d6c1e" />
        <circle cx="95" cy="35" r="30" fill="#15b732" />
        <circle cx="60" cy="50" r="40" fill="#5dd166" />
      </svg>
      <div>
        500/400
      </div>
      <p>
        Whoops.
      </p>
      <p>
        Looks like we couldn't understand your request! <a href="http://shopnani.netlify.com">Click here to teleport back to saftey.</a>
      </p>
    </center>
  </body>
</html>
